body {
    background-color:white;
}


object {
    height: 100vh;
    width: 100vh;
}

.info{
    top: 10%;
    position: fixed;
    width: 78%;
    left: 21%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

header nav{
position: fixed;
background-color: rgba(31, 212, 100, 0.959);
width: 20%;
height: 100%;
display:flex;

flex-direction: column;
}

.namepic{
    position: fixed;
background-color: rgba(31, 212, 100, 0.959);
width: 20%;
height: 60%;
display:flex;
align-content: center;
align-items: center;
justify-content: center;
flex-direction: column;
font-size:xx-large;
color:white;
}

.bottominfo{
    position: fixed;
background-color: rgba(80, 148, 16, 0.164);
top:60%;
width: 20%;
height: 40%;
display:flex;
align-content: center;
align-items: center;
justify-content: center;
flex-direction: column;
color:white;
}


.par{
    display: inline;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
     position:relative;
    left: 20px;
}
.parpar{
    display: flex;
   justify-content: space-between;
   flex-direction: column;
    position: relative;
   
}
.together{
    width: 80%;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
    position:relative;
   
}


.smalltitle{
left: -12%;
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside; /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
}
.smalltex{
    left: 12%;
}

.under{
    font-size: small;
}

h1{
    color: blue;
}
h2{
    color: blue;
}